---
layout: default
---

<div class="hero has-background-black-bis is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-two">
                        <div class="field">
                          <div class="content">
                                <div class="card has-background-dark has-text-light">
                                    <div class="card-content"><div class="content">
  
                                    <div class="field">
                                      <h5>Trace Anime using image</h5>
                                    </div>
                                    
                                    <div class="field"> 
                                        <input class="input" type="file" id="img">
                                        <button class="button" id="search-btn">Search</button>
                                    </div>

                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
  </div>
  <article class="message is-dark">
    <div class="message-header">
      <p>Preview</p>
    </div>
    <div class="message-body">
  <div id="preview"></div>
    </div>
  </article>


<div id="result">
<div class="is-centered" id="loading" style="display: none;">
    <img src="{{ site.files }}/assets/loading.gif" />
</div>
</div>

<script src="{{ site.files }}/assets/trace.js"></script>